html {
  width: 100%;
}

body {
  color: #f3f3f3;
  font-family: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3.5em;
}

#hero {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/assets/inset-2-min.jpg') no-repeat;
  background-size: cover;
  background-position: 0 50%;
}

#contact-container {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/assets/coffee-desk-min.jpg') no-repeat;
  background-size: cover;
  background-position: 0 75%;
  height: 100%;
  padding-bottom: 70px;

  h2 {
    letter-spacing: 7px;
    font-weight: 600;
  }

  h4 {
    color: gray;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 18px;
  }

  .form-control {
    background: #fff;
    border: 1px solid #2f2f2f;
    padding: 10px;
    height: 100px;
    outline: 0;
  }
  .form-control:focus {
    border: 1px solid #fff !important;

  }

  .form-control-email {
    background: #fff;
    border: 1px solid #2f2f2f;
    padding: 10px;
    height: 38px;
    width: 100%;
    outline: 0;
  }
  .form-control-email:focus {
    border: 1px solid #fff !important;
  }
}

.hero-content {
  h1, h4 {
    color: rgb(71, 229, 188);
    text-shadow: 2px 1px 0px rgb(8, 8, 8);
  }

}

.main-text {
  @media(max-width: 770px) {
    padding-left: 0;
    margin-left: 0;
  }
}


span.alberto {
  color: #fea;
  font-weight: bold;
}

.navbar {

  width: 100% !important;
  background: none !important;

  .custom-toggler.navbar-toggler {
    border: 0;
  }

  .custom-toggler.navbar-toggler {
    border-color: #292F36;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(71, 229, 188)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }




  @media(max-width: 574px) {
    width: 100% !important;
    background: #47E5BC !important;
    padding: 5px 0 35px 0;


    .icons {
      color: #292F36 !important;
      text-align: center;
    }

    .nav-item {
      text-align: center;
    }

    .custom-toggler.navbar-toggler {
      border-color: #292F36;
    }
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(41,47,54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }


    }



  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item {
    padding: 0 1rem;

    @media(max-width: 34em) {
      padding: 0;
    }

    .nav-link span {
      @media(max-width: 34em) {
        font-weight: normal;
        color: white !important;
      }
    }
  }
}

.feature-wrapper {
  padding: 30px 0 30px 0;
}

.feature-icons {
  text-align: center;
  color: rgba(41, 47, 54, 0.87);
}

.feature-content {
  text-align: center;
  height: 75%;
  font-weight: 100;
}



#send-button {
  .btn {
    color: #000;
    border: 1px solid #232523;
    cursor: pointer;
  }
  .btn:hover {
    background: #26b38e !important;
    color: #fff;
  }
}


#forms {
  text-align: center;
}


#myFooter {
  background: rgb(71, 229, 188);
  padding-top: 16px;
  padding-bottom: 18px;
}


.social-icons {
  color: #292F36 !important;
  font-size: 20px;
}

.social-icons:hover {
  color: #fff !important;
}

.main-paragraph {
  background: #47E5BC;
  width: 100%;
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;

  background: linear-gradient(#292f36, rgba(0, 0, 0, 0.81)), url('/assets/soho.jpg') no-repeat;
  background-size: cover;
  background-position: 0 50%;
}



#paragraph {
  left: 2%;
}

.email {
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 3px;
}

.blinker {
  color: white;
  font-weight: 100;
  animation: blinkers 0.95s linear infinite;
  padding-left: 0;
  margin-left: -15px;
}


@keyframes blinkers {
  30% { opacity: 0; }
}


#picture {
  left: 37.80%;
}

.rounded-circle {
  box-shadow: 2px 11px 12px 1px rgb(31, 35, 39);
}

@media(max-width: 1199px) {
  #picture {
    left: 34.80%;
  }
}

@media(max-width: 1000px) {
  #picture {
    left: 35.33%;
  }
}

@media(max-width: 993px) {
  #picture {
    left: 34.33%;
  }
}

@media(max-width: 820px) {
  #picture {
    left: 30.33%;
  }
}

@media(max-width: 768px) {
  #picture {
    left: 25.33%;
  }
}

@media(max-width: 610px) {
  #picture {
    left: 24.33%;
  }
}

@media(max-width: 500px) {
  #picture {
    left: 21.33%;
  }

  .email {
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 1px;
  }
}

@media(max-width: 400px) {
  #picture {
    left: 11.33%;
  }
}
