html {
  width: 100%; }

body {
  color: #f3f3f3;
  font-family: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif; }

h1 {
  font-weight: bold;
  font-size: 3.5em; }

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/inset-2-min.jpg") no-repeat;
  background-size: cover;
  background-position: 0 50%;
  height: 100%; }

#contact-container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/coffee-desk-min.jpg") no-repeat;
  background-size: cover;
  background-position: 0 75%;
  height: 100%;
  padding-bottom: 70px; }
  #contact-container h2 {
    letter-spacing: 7px;
    font-weight: 600; }
  #contact-container h4 {
    color: gray;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 18px; }
  #contact-container .form-control {
    background: #fff;
    border: 1px solid #2f2f2f;
    padding: 10px;
    height: 100px;
    outline: 0; }
  #contact-container .form-control::selection {
    background: rgba(71, 229, 188, 0.82); }
  #contact-container .form-control:focus {
    border: 1px solid #fff !important; }
  #contact-container .form-control-email {
    background: #fff;
    border: 1px solid #2f2f2f;
    padding: 1em;
    height: 38px;
    width: 100%;
    outline: 0; }
  #contact-container .form-control-email:focus {
    border: 1px solid #fff !important; }
  #contact-container .form-control-email::selection {
    background: rgba(71, 229, 188, 0.82); }

.hero-content h1, .hero-content h4 {
  color: #47e5bc;
  text-shadow: 2px 1px 0px #080808; }

@media (max-width: 770px) {
  .main-text {
    padding-left: 0;
    margin-left: 0; } }

span.alberto {
  color: #fea;
  font-weight: bold; }

.navbar {
  width: 100% !important;
  background: none !important; }
  .navbar .custom-toggler.navbar-toggler {
    border: 0; }
  .navbar .custom-toggler.navbar-toggler {
    border-color: #292F36; }
  .navbar .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(71, 229, 188)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  @media (max-width: 574px) {
    .navbar {
      width: 100% !important;
      background: #47E5BC !important;
      padding: 5px 0 35px 0; }
      .navbar .icons {
        color: #292F36 !important;
        text-align: center; }
      .navbar .nav-item {
        text-align: center; }
      .navbar .custom-toggler.navbar-toggler {
        border-color: #292F36; }
      .navbar .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(41,47,54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link span {
        font-weight: normal;
        color: white !important; } }

.feature-wrapper {
  padding: 30px 0 30px 0; }

.feature-icons {
  text-align: center;
  color: rgba(41, 47, 54, 0.87); }

.feature-content {
  text-align: center;
  height: 75%;
  font-weight: 100; }

#send-button .btn {
  color: #000;
  padding: .8em;
  border: 1px solid #232523;
  cursor: pointer; }

@media (min-width: 400px) {
  #send-button .btn:hover:enabled {
    background: linear-gradient(#47E5BC, #11FFBD);
    text-decoration: none;
    color: white; }
  #send-button .btn:active {
    transform: translateY(1.5px); } }

#forms {
  text-align: center; }

#myFooter {
  background: #47e5bc;
  padding-top: 16px;
  padding-bottom: 18px; }

.icon-group {
  border: 2px solid red; }

.social-icons {
  color: #292F36 !important;
  font-size: 20px; }

.social-icons:hover {
  color: #fff !important; }

.main-paragraph {
  background: #47E5BC;
  width: 100%;
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(#292f36, rgba(0, 0, 0, 0.81)), url("/assets/soho.jpg") no-repeat;
  background-size: cover;
  background-position: 0 70%; }

p::selection {
  background: rgba(71, 229, 188, 0.82); }

.highlight::selection {
  background: rgba(71, 229, 188, 0.82); }

#paragraph {
  left: 2%; }

.email {
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 3px; }

.email::selection {
  background: rgba(71, 229, 188, 0.82); }

.blinker {
  color: white;
  font-weight: 100;
  animation: blinkers 0.95s linear infinite;
  padding-left: 0;
  margin-left: -15px; }

.work-container {
  background-image: linear-gradient(#292f36, rgba(0, 0, 0, 0.41)), url("./../assets/dark-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6em 4em; }
  .work-container h2 {
    font-weight: bold;
    letter-spacing: 7px;
    padding-bottom: 2em; }
  @media (max-width: 400px) {
    .work-container {
      padding: 3em 0 1em 0;
      margin: 0; } }

*::selection {
  background: rgba(71, 229, 188, 0.82); }

.first-row .macbook {
  width: 100%; }

.content-container {
  padding-top: 3em; }
  .content-container .work-title {
    font-weight: normal;
    text-align: center;
    padding: 2em 0 1em 0;
    letter-spacing: 7px; }
  .content-container .work-description {
    line-height: 35px;
    font-size: 20px; }
  @media (max-width: 400px) {
    .content-container {
      padding: 1em 0 1em 2em; } }

.second-row {
  padding: 6em 1em 0 1em; }
  .second-row .content-container {
    padding-top: 3em;
    padding-bottom: 3em; }
    .second-row .content-container .work-title {
      font-weight: normal;
      letter-spacing: 7px;
      text-align: center;
      padding-bottom: 17px; }
    .second-row .content-container .work-description {
      line-height: 35px;
      font-size: 20px; }
  @media (max-width: 400px) {
    .second-row {
      padding: 1em 0 0 0; } }

.iphone-container {
  width: 100%;
  text-align: center; }
  .iphone-container .iphone {
    width: 70%; }
  @media (max-width: 400px) {
    .iphone-container {
      padding: 2em 0 0 2.8em; } }

.cta {
  padding: 7em 0 0 0;
  color: #80807d;
  letter-spacing: 7px;
  font-size: 17px;
  font-weight: 100 !important;
  text-align: center; }

.link:hover {
  color: #54f6ca;
  text-decoration: none; }

@keyframes blinkers {
  30% {
    opacity: 0; } }

#picture {
  left: 37.80%; }

.rounded-circle {
  box-shadow: 2px 11px 12px 1px #1f2327; }

@media (max-width: 1199px) {
  #picture {
    left: 34.80%; } }

@media (max-width: 1000px) {
  #picture {
    left: 35.33%; } }

@media (max-width: 993px) {
  #picture {
    left: 34.33%; } }

@media (max-width: 820px) {
  #picture {
    left: 30.33%; } }

@media (max-width: 768px) {
  #picture {
    left: 25.33%; } }

@media (max-width: 610px) {
  #picture {
    left: 24.33%; } }

@media (max-width: 500px) {
  #picture {
    left: 21.33%; }
  .feature-content, .feature-wrapper {
    display: none; }
  .email {
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 1px; } }

@media (max-width: 400px) {
  #picture {
    left: 11.33%; } }
