.navbar {
  width: 100% !important;
  background: none !important; }
  .navbar .custom-toggler.navbar-toggler {
    border: 0; }
  @media (max-width: 574px) {
    .navbar {
      width: 100% !important;
      background: #47E5BC !important; }
      .navbar #logo, .navbar #icons {
        color: #292F36 !important;
        text-align: center; }
      .navbar .nav-item {
        text-align: center;
        padding: 3px !important; }
      .navbar .custom-toggler.navbar-toggler {
        border-color: #292F36;
        border: 1px; }
      .navbar .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(41,47,54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link span {
        font-weight: normal;
        color: white !important; } }
