body {
  color: #f3f3f3; }

h1 {
  font-weight: bold;
  font-size: 3.5em; }

#hero {
  background: url("/assets/bg.jpg") no-repeat;
  background-size: cover;
  background-position: 0 50%; }

.navbar {
  width: 100% !important;
  background: none !important; }
  .navbar .custom-toggler.navbar-toggler {
    border: 0; }
  .navbar .custom-toggler.navbar-toggler {
    border-color: #292F36; }
  .navbar .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(71, 229, 188)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  @media (max-width: 574px) {
    .navbar {
      width: 100% !important;
      background: #47E5BC !important;
      padding: 5px 0 30px 0; }
      .navbar #logo, .navbar #icons {
        color: #292F36 !important;
        text-align: center; }
      .navbar .nav-item {
        text-align: center;
        padding: 3px !important; }
      .navbar .custom-toggler.navbar-toggler {
        border-color: #292F36; }
      .navbar .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(41,47,54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link span {
        font-weight: normal;
        color: white !important; } }

.feature-wrapper {
  padding: 30px 0 30px 0; }

.feature-icons {
  text-align: center;
  color: rgba(41, 47, 54, 0.87); }

.feature-content {
  text-align: center; }

#contact-container h2 {
  letter-spacing: 7px;
  font-weight: 600; }

#contact-container h4 {
  color: gray;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 15px; }

#contact-container .form-control {
  background: #fff;
  border: 3px solid #2f2f2f;
  padding: 8px;
  height: 80px;
  outline: 0; }

#contact-container .form-control-email {
  background: #fff;
  border: 3px solid #2f2f2f;
  padding: 8px;
  height: 38px;
  width: 325px;
  outline: 0; }

#send-button .btn {
  margin-top: 95px;
  padding: 12px;
  color: #000;
  border: 1px solid #232523; }
