body {
  color: #f3f3f3;
}

h1 {
  font-weight: bold;
  font-size: 3.5em;

}

#hero {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/assets/inset.svg') no-repeat;
  background-size: cover;
  background-position: 0 50%;
}

.hero-content {
  h1, h4 {
    color: rgb(71, 229, 188);
    box-shadow: 2px;
    text-shadow: 2px 1px 0px rgb(8, 8, 8);
  }
}

span.alberto {
  color: #fea;
  font-weight: bold;
}

.navbar {

  width: 100% !important;
  background: none !important;

  .custom-toggler.navbar-toggler {
    border: 0;
  }

  .custom-toggler.navbar-toggler {
    border-color: #292F36;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(71, 229, 188)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }




  @media(max-width: 574px) {
    width: 100% !important;
    background: #47E5BC !important;
    padding: 5px 0 30px 0;


    #logo, #icons {
      color: #292F36 !important;
      text-align: center;
    }

    .nav-item {
      text-align: center;
      padding: 3px !important;
    }

    .custom-toggler.navbar-toggler {
      border-color: #292F36;
    }
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(41,47,54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }


    }



  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item {
    padding: 0 1rem;

    @media(max-width: 34em) {
      padding: 0;
    }

    .nav-link span {
      @media(max-width: 34em) {
        font-weight: normal;
        color: white !important;
      }
    }
  }
}

.feature-wrapper {
  padding: 30px 0 30px 0;
}

.feature-icons {
  text-align: center;
  color: rgba(41, 47, 54, 0.87);
}

.feature-content {
  text-align: center;
}


#icons {

}

#icons:hover {


}


#contact-container {
  h2 {
    letter-spacing: 7px;
    font-weight: 600;
  }

  h4 {
    color: gray;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 15px;
  }

  .form-control {
    background: #fff;
    border: 3px solid #2f2f2f;
    padding: 8px;
    height: 80px;
    outline: 0;
  }

  .form-control-email {
    background: #fff;
    border: 3px solid #2f2f2f;
    padding: 8px;
    height: 38px;
    width: 325px;
    outline: 0;
  }
}


#send-button {
  .btn {
    margin-top: 90px;
    padding: 10px;
    color: #000;
    border: 1px solid #232523;
  }
}


#forms {
  text-align: center;
}

#send-button {
  @media(max-width: 770px) {
    margin-top: -88px;
    padding: 0;
  }
}


#myFooter {
  background: rgb(71, 229, 188);
}
